In [20]:
import pandas as pd
import numpy as np
from random import randint

In [2]:
snakes = pd.DataFrame(
    [[12,2],
     [14,11],
     [17,4],
     [31,19],
     [35,22]],
     columns = ['head', 'tail']
)
snakes

   head  tail
0    12     2
1    14    11
2    17     4
3    31    19
4    35    22

In [3]:
ladders = pd.DataFrame(
    [[3,16],
     [5,7],
     [15,25],
     [18,20],
     [21,32]],
     columns = ['bottom', 'top']
)
ladders

   bottom  top
0       3   16
1       5    7
2      15   25
3      18   20
4      21   32

In [17]:
3 in ladders['bottom'].values

True

In [ ]:
position = [1,1]
win = [0,0]

turn_count = 0
player = 0
while True:
    turn_count += 1
    dice = randint(1, 6)
    print(f'Jogador {player} tira o valor {dice}')

    position[player] += dice
    print(f'Posições atualizadas: {position}')

    if position[player] in snakes['head'].values:
        print(f'Jogador {player} cai da casa {position[player]} para a casa {}')
        position[player] = 
        snakes[snakes['head'] == position[player]].index


    if position[player] >= 36:
        win[player] += 1
        print(f'O jogador {player} ganhou!')
        print(f'Número de rodadas: {turn_count}')
        break
    
    if player == 0:
        player = 1
    else:
        player = 0

Jogador 0 tira o valor 4
Posições atualizadas: [5, 1]
Jogador 1 tira o valor 3
Posições atualizadas: [5, 4]
Jogador 0 tira o valor 4
Posições atualizadas: [9, 4]
Jogador 1 tira o valor 3
Posições atualizadas: [9, 7]
Jogador 0 tira o valor 3
Posições atualizadas: [12, 7]
Jogador 1 tira o valor 4
Posições atualizadas: [12, 11]
Jogador 0 tira o valor 4
Posições atualizadas: [16, 11]
Jogador 1 tira o valor 6
Posições atualizadas: [16, 17]
Jogador 0 tira o valor 5
Posições atualizadas: [21, 17]
Jogador 1 tira o valor 5
Posições atualizadas: [21, 22]
Jogador 0 tira o valor 1
Posições atualizadas: [22, 22]
Jogador 1 tira o valor 6
Posições atualizadas: [22, 28]
Jogador 0 tira o valor 1
Posições atualizadas: [23, 28]
Jogador 1 tira o valor 2
Posições atualizadas: [23, 30]
Jogador 0 tira o valor 6
Posições atualizadas: [29, 30]
Jogador 1 tira o valor 1
Posições atualizadas: [29, 31]
Jogador 0 tira o valor 5
Posições atualizadas: [34, 31]
Jogador 1 tira o valor 6
Posições atualizadas: [34, 37]
O jogador 1 ganhou!
Número de rodadas: 18